.titles{
    font-size: 23;
    width: 100%;
    margin: 0;
}
.font_size{
    font-family: cursive;
}
canvas
{
    border:5px solid white;
    border-radius:20px;
    box-shadow: 5px 5px 5px blueviolet;
} 
#copy-right-footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgb(86, 163, 125);
    line-height: 3;
    text-align: center;
    margin-bottom: 0%;
}
